<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hy.mapper.OrderMapper">


    <resultMap id="BaseResultMap" type="com.hy.entity.Order">
        <result column="sid" jdbcType="INTEGER" property="sid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
    </resultMap>


    <insert id="addsss" parameterType="com.hy.entity.Order" >
        insert into student(`Sname`,Sage,Ssex) value (#{Order.name},#{Order.age},#{Order.sex});
    </insert>






</mapper>